<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ContentPage</servlet-name>
        <servlet-class>Controller.Content.ContentPageCon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeCon</servlet-name>
        <servlet-class>Controller.HomeCon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListContentPage</servlet-name>
        <servlet-class>Controller.Content.ListContentPageCon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilePageCon</servlet-name>
        <servlet-class>Controller.User.ProfilePageCon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPageCon</servlet-name>
        <servlet-class>Controller.SearchPageCon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPageCon</servlet-name>
        <servlet-class>Controller.User.RegisterPageCon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPageCon</servlet-name>
        <servlet-class>Controller.Content.UploadPageCon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorPageCon</servlet-name>
        <servlet-class>Controller.ErrorPageCon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.User.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContentPage</servlet-name>
        <url-pattern>/ContentPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeCon</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListContentPage</servlet-name>
        <url-pattern>/ListContentPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilePageCon</servlet-name>
        <url-pattern>/ProfilePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPageCon</servlet-name>
        <url-pattern>/SearchPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPageCon</servlet-name>
        <url-pattern>/RegisterPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPageCon</servlet-name>
        <url-pattern>/UploadPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorPageCon</servlet-name>
        <url-pattern>/ErrorPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>1</error-code>
        <location>/404View.jsp</location>
    </error-page>
</web-app>
